@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/* :root {
  color: #facbc3;
} */


@theme {
  /* background */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #2979FF;
  --color-bg-page: #F5F6FA;
  --color-bg-light-blue: #E8F0FE;
  --color-bg-sidebar: #1A1A2E;
  --color-bg-orange: #ff8a75;

  /* text */
  --color-text-primary: #2B2B2B;
  --color-text-secondary: #ffffff;
  --color-text-gray: #9B9B9B;
  --color-text-blue: #2979FF;

  /* status */
  --color-danger: #FF4D4D;
  --color-success: #00C48C;
  --color-warning: #FFB800;

  --color-total : #2979FF;
  --color-completed : #00C48C;
  --color-in_progress : #2979FF;
  --color-pending : #9B9B9B;
  --color-rate : #ff8a75;

  /* buttons */
  --color-button-primary: #2979FF;
  --color-button-dark: #1565C0;

  /* border */
  --color-border-primary: #E0E0E0;
  --color-border-secondary: #c5c5c5;
}
 
/* ============================================================
   DARK MODE
   ============================================================ */

.dark {
  /* background */
  --color-bg-primary:    #1C1C28;
  --color-bg-secondary:  #2979FF;
  --color-bg-page:       #13131E;
  --color-bg-light-blue: #1a2744;
  --color-bg-sidebar:    #13131E;
  --color-bg-orange:     #ff8a75;

  /* text */
  --color-text-primary:   #E2E2EE;
  --color-text-secondary: #ffffff;
  --color-text-gray: #8B8BA8;
  --color-text-blue:      #5B9BFF;

  /* status */
  --color-danger:  #FF6B6B;
  --color-success: #00D9A0;
  --color-warning: #FFC933;

  --color-total:       #5B9BFF;
  --color-completed:   #00D9A0;
  --color-in_progress: #5B9BFF;
  --color-pending:     #5A5A72;
  --color-rate:        #ff9e8e;

  /* buttons */
  --color-button-primary: #2979FF;
  --color-button-dark:    #1565C0;

  /* border */
  --color-border-primary:   #25253A;
  --color-border-secondary: #2E2E45;
}

/* Input */
input::placeholder {
  color: var(--color-text-gray);
}

/* ── Scrollbar ── */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* ── Select ── */
select {
  outline: none;
}

.dark select {
  color-scheme: dark;
}

select option {
  background-color: #ffffff;
  color: #2b2b2b;
}

select:focus {
  color: #2b2b2b;
}

select:focus {
  outline: none;
  box-shadow: none;
}

/* charts */
.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus,
.recharts-surface:focus-visible,
.recharts-rectangle:focus,
.recharts-rectangle:focus-visible {
  outline: none !important;
}